footer {
    background: var( --veryDarkViolet);
    padding: 40px 30px;
}

.footer--div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
}

.footer--item {
    color: #fff;
    font-weight: 700;
    font-size: var(--fontSizePrimary);
    margin-bottom: 10px
}

.footer--item a {
    color: var(--grayishViolet);
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 10px
}

.footer--item a:hover {
    color: var(--cyan);
    cursor: pointer;
}

.footer__icons img {
    margin-right: 10px;
}

.footer__icons a:hover {
    color: var(--cyan);
}

.attribution {
    font-size: 10px;
    margin-top: 15px;
    text-align: center;
}

.attribution a {
    color: hsl(179, 62%, 43%);
}

.attribution p {
    color: var(--grayishViolet);
}

.attribution a:hover {
    text-decoration: underline;
}

@media (min-width:1020px) {
    footer {
        padding: 40px 90px;
    }
    .footer--div {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__nav {
        grid-template-columns: repeat(3, 1fr);
        gap: 200px;
    }
}