.boostLink__section {
    margin-top: 50px;
    background: url("/img/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--darkViolet);
    text-align: center;
    padding: 80px 30px;
}

.boostLink__section h2 {
    color: #fff;
    margin-bottom: 15px;
}

#shorten__form {
    background: url("/img/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--darkViolet);
    padding: 30px;
    border-radius: 6px;
    position: relative;
    top: -5.5rem;
    margin: 0 auto;
    width: 20rem;
}

.shorten__form--div {
    display: block;
    position: relative;
}

.shorten__form--div input {
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 30px;
    width: 100%;
    border: 0;
}

.shorten__form--div input.error {
    border: 2px solid var(--red);
    color: var(--red);
}

.shorten__form--div input::placeholder.error {
    color: var(--red);
}

.shorten__form--div input::placeholder {
    color: var(--grayishViolet);
    font-size: var(--fontSizePrimary);
}

.error-msg {
    color: var(--red);
    font-style: italic;
    margin-top: 20px;
    position: absolute;
    top: 35%;
}

@media (min-width:768px) {
    .boostLink__section {
        padding: 80px 70px;
    }
    #shorten__form {
        top: -6rem;
        margin: 0 auto;
        width: 39.3rem;
    }
}

@media (min-width:1020px) {
    .boostLink__section {
        background: url("/img/bg-boost-desktop.svg");
        background-repeat: no-repeat;
        background-color: var(--darkViolet);
        padding: 80px 90px;
    }
    .error-msg {
        color: var(--red);
        font-style: italic;
        margin-top: 20px;
        position: static;
    }
    #shorten__form {
        background: url("/img/bg-shorten-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--darkViolet);
        padding: 30px;
        top: -3.5rem;
        width: 53rem;
    }
    .shorten__form--div {
        display: inline;
    }
    .shorten__form--div input {
        width: 78%;
        margin-bottom: 0;
    }
    .shorten__btn {
        width: 20%;
    }
}

@media (min-width:1200px) {
    .boostLink__section {
        padding: 80px 120px;
    }
    #shorten__form {
        top: -3.5rem;
        width: 60rem;
    }
}

@media (min-width:1440px) {
    .boostLink__section {
        padding: 80px 150px;
    }
    #shorten__form {
        top: -3.5rem;
        width: 71.3rem;
    }
}