.btn {
    margin-right: 20px;
    border: none;
    background: var(--cyan);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
}

.btn:hover {
    opacity: 50%;
    cursor: pointer;
}

.login {
    margin-right: 20px;
    border: none;
    background: #fff;
    font-weight: 700;
    color: var( --grayishViolet);
    font-size: var(--fontSizePrimary);
}

.login:hover {
    color: var(--veryDarkViolet);
    cursor: pointer;
}

.mobile--login {
    border: none;
    color: var( --grayishViolet);
    font-weight: 700;
    background: var(--darkViolet);
    font-size: var(--fontSizePrimary);
    margin-bottom: 30px;
}

.mobile--login:hover {
    color: var(--cyan);
    cursor: pointer;
}

.mobile--btn {
    border: none;
    background: var(--cyan);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    width: 100%;
}

.mobile--btn:hover {
    opacity: 80%;
    cursor: pointer;
}

.shorten__btn {
    border: none;
    outline: 0;
    background: var(--cyan);
    padding: 15px 20px;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
    width: 100%;
}

.shorten__btn:hover {
    opacity: 180%;
    cursor: pointer;
}